<div class="tips row">
  <div
    *ngFor="let info of tipsInfos; let index = index"
    class="col col-12 col-md-6 col-lg info"
  >
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn {{ info!.btnClass }} btn-block m-1"
      data-toggle="modal"
      [attr.data-target]="'#' + info!.class + 'Modal'"
    >
      <img width="15" src="{{ info.icon }}" style="filter: invert(1)" />
      <span class="evo-name ml-2">{{ info!.name }}</span>
    </button>
    <!-- !Button trigger modal -->

    <!-- Modal -->
    <div
      class="modal fade"
      id="{{ info!.class }}Modal"
      tabindex="-1"
      aria-labelledby="{{ info!.class }}Label"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="{{ info!.class }}Label">
              <img width="25" src="{{ info.icon }}" /><span class="ml-3">{{
                info!.name
              }}</span>
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
              <tbody>
                <tr *ngFor="let theInfo of info.infos; let index = index">
                  <td [innerHtml]="theInfo"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Fermer
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- !Modal -->
  </div>
</div>
