<div class="content" role="main">
  <div id="bigtitle">{{ tips_title }}</div>

  <div>
    Cette page vous permet de calculer différents indicateurs sur l'état et les
    besoins de votre corps afin d'atteindre vos objectifs.
  </div>
  <br />

  <div>
    <app-tips-info [tipsInfos]="tipsInfo"></app-tips-info>
    <!-- <app-tips-info [tipsInfos]="tipsInfoT"></app-tips-info> -->
  </div>

  <br />

  <form>
    <table class="blueTable">
      <tr>
        <td><b> Sexe*</b></td>
        <td width="400px">
          <input
            type="radio"
            name="sexe"
            [(ngModel)]="sexe"
            value="0"
            (change)="calculateMB()"
          />
          Homme &nbsp;
          <input
            type="radio"
            name="sexe"
            value="1"
            [(ngModel)]="sexe"
            (change)="calculateMB()"
          />
          Femme
        </td>
      </tr>
      <tr>
        <td><b>Poid* (kg)</b></td>
        <td>
          <input
            type="number"
            name="poids"
            min="0"
            max="200"
            [(ngModel)]="poids"
            (change)="calculateMB()"
          />
        </td>
      </tr>
      <tr>
        <td><b>Taille* (m)</b></td>
        <td>
          <input
            #ctrl_taille
            type="number"
            name="taille"
            min="0"
            max="300"
            step=".1"
            [(ngModel)]="taille"
            (change)="calculateMB()"
          />
        </td>
      </tr>
      <tr>
        <td>
          <b> Age* </b>
        </td>
        <td>
          <input
            type="number"
            name="age"
            min="0"
            max="120"
            [(ngModel)]="age"
            (change)="calculateMB()"
          />
        </td>
      </tr>
      <tr>
        <td>
          <b><i>Niveau d'activité physique</i></b>
        </td>
        <td>
          <input
            type="radio"
            name="NAct"
            [(ngModel)]="NAct"
            value="1.39"
            (change)="calculateBEJ()"
          />
          Sédentaire &nbsp;&nbsp;
          <input
            type="radio"
            name="NAct"
            [(ngModel)]="NAct"
            value="1.59"
            (change)="calculateBEJ()"
          />
          Peu actif &nbsp;&nbsp;
          <input
            type="radio"
            name="NAct"
            [(ngModel)]="NAct"
            value="1.89"
            (change)="calculateBEJ()"
          />
          Actif &nbsp;&nbsp;
          <input
            type="radio"
            name="NAct"
            [(ngModel)]="NAct"
            value="2.5"
            (change)="calculateBEJ()"
          />
          Très actif &nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <b><i>Métabolisme de base</i></b>
          </div>
        </td>
        <td>{{ mb }}</td>
      </tr>

      <tr>
        <td>
          <div>
            <b><i>Besoin Énergétique Journalier en Kcal</i></b>
          </div>
        </td>
        <td>
          {{ bej }}
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <b><i>Indice de Masse corporelle</i></b>
          </div>
        </td>
        <td>
          {{ imc }}
        </td>
      </tr>
    </table>
  </form>
</div>
