<div class="content" role="main">
  <div id="bigtitle">{{ tips_title }}</div>

  <div>
    Cette page vous permet de calculer différents indicateurs sur l'état et les
    besoins de votre corps afin d'atteindre vos objectifs.
  </div>
  <br />

  <div>
    <app-tips-info [tipsInfos]="tipsInfo"></app-tips-info>
  </div>

  <br />

  <form>
    <table class="blueTable">
      <tr>
        <td><strong> Sexe*</strong></td>
        <td>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="sexe"
              [(ngModel)]="sexe"
              value="0"
              (change)="calculateMB()"
              id="r1"
            />
            <label class="form-check-label" for="r1"> Homme </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="sexe"
              [(ngModel)]="sexe"
              value="1"
              (change)="calculateMB()"
              id="r1"
            />
            <label class="form-check-label" for="r1"> Femme </label>
          </div>
        </td>
      </tr>
      <tr>
        <td><strong>Poid* (kg)</strong></td>
        <td>
          <input
            class="form-control"
            type="number"
            name="poids"
            min="0"
            max="200"
            [(ngModel)]="poids"
            (change)="calculateMB()"
          />
        </td>
      </tr>
      <tr>
        <td><strong>Taille* (m)</strong></td>
        <td>
          <input
            class="form-control"
            #ctrl_taille
            type="number"
            name="taille"
            min="0"
            max="300"
            step=".1"
            [(ngModel)]="taille"
            (change)="calculateMB()"
          />
        </td>
      </tr>
      <tr>
        <td>
          <strong> Age* </strong>
        </td>
        <td>
          <input
            class="form-control"
            type="number"
            name="age"
            min="0"
            max="120"
            [(ngModel)]="age"
            (change)="calculateMB()"
          />
        </td>
      </tr>
      <tr>
        <td>
          <strong><em>Niveau d'activité physique*</em></strong>
        </td>
        <td>
          <input
            type="radio"
            name="NAct"
            [(ngModel)]="NAct"
            value="1.39"
            (change)="calculateBEJ()"
          />
          Sédentaire &nbsp;&nbsp;
          <input
            type="radio"
            name="NAct"
            [(ngModel)]="NAct"
            value="1.59"
            (change)="calculateBEJ()"
          />
          Peu actif &nbsp;&nbsp;
          <input
            type="radio"
            name="NAct"
            [(ngModel)]="NAct"
            value="1.89"
            (change)="calculateBEJ()"
          />
          Actif &nbsp;&nbsp;
          <input
            type="radio"
            name="NAct"
            [(ngModel)]="NAct"
            value="2.5"
            (change)="calculateBEJ()"
          />
          Très actif &nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <strong><em>Métabolisme de base</em></strong>
          </div>
        </td>
        <td>{{ mb }}</td>
      </tr>

      <tr>
        <td>
          <div>
            <strong><em>Besoin Énergétique Journalier</em></strong>
          </div>
        </td>
        <td>
          {{ bej }}
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <strong><em>Indice de Masse corporelle</em></strong>
          </div>
        </td>
        <td>
          {{ imc }}
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <strong><em>Fréquence cardiaque maximale.</em></strong>
          </div>
        </td>
        <td>
          {{ fcm }}
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <strong><em>Fréquence cardiaque idéale </em></strong>
          </div>
        </td>
        <td>
          {{ fco }}
        </td>
      </tr>
    </table>
  </form>
</div>
