<div class="content" role="main">
  <div id="bigtitle">Enjoy Sport, l'application qui vous changera !</div>

  <br />
  <div width="100%">
    <div width="100%">
      <img width="50" src="{{ cheminIcone_build }}" />
      Site en construction !
      <img width="50" src="{{ cheminIcone_build }}" />
    </div>
  </div>

  <div width="100%">
    <br />

    <table class="blueTable">
      <tr>
        <td width="125" align="center"><strong>A faire</strong></td>
        <td>
          <ul>
            <li>Cablage avec la BDD</li>
            <li>
              Gestion de l'inscription / l'authentification / déconnection
              (Firebase)
            </li>
            <li>
              Saisie, enregistrement en bdd et visualisation d'un entrainement
            </li>
            <li>
              Mise en place de graphiques de suivi (onglets cardio et
              musculation)
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td align="center">
          <strong>En cours</strong> &nbsp;&nbsp;<img
            width="15"
            src="{{ chemin_encours }}"
          />
        </td>
        <td>
          <ul>
            <li>
              Bug de déploiement à résoudre (version et date de déploiement)
            </li>
            <li>Création de la BDD (MySQL)</li>
            <li>CI/CD : ordonnancement du déploiement (crontab)</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td align="center">
          <strong>Fait</strong>&nbsp;&nbsp;
          <img width="15" src="{{ chemin_check }}" />
        </td>
        <td>
          <ul>
            <li>Migration vers l'hébergeur O2Switch</li>
          </ul>
        </td>
      </tr>
    </table>
    <br />
    <table class="blueTable">
      <tr>
        <td align="center">
          EnjoySport <strong>version 0.0.02,</strong> déployée le
          <strong>2022-04-11 à 09:29</strong>
        </td>
      </tr>
    </table>
  </div>
</div>
