<div class="content" role="main">
  <div id="bigtitle">{{ vids_title }}</div>

  <div>
    Cette section références quelques videos qui traitent chacune d'un objectif
    précis. <br />
    Cette liste n'est évidemment pas exhaustive...
  </div>
  <br />

  <div id="mediumtitle">Entainements spécifiques</div>

  <video-yt *ngFor="let vid_id of videos_exercices" [id]="vid_id"></video-yt>

  <div id="mediumtitle">Alimentation</div>
  <video-yt *ngFor="let vid_id of videos_alimentation" [id]="vid_id"></video-yt>
</div>
