<div class="content" role="main">
  <div id="bigtitle">Cardio</div>
  <br />
  <div id="mediumtitle">Suivi</div>

  <mat-slide-toggle color="primary" (click)="switchMode()"
    >mode switch</mat-slide-toggle
  >
  <hr style="width: 75%" />
  <div [hidden]="isArraymode">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
  <br />

  <table class="blueTable2" role="presentation" [hidden]="!isArraymode">
    <tr>
      <td><strong> Date</strong></td>
      <td><strong>Exercice</strong></td>
      <td><strong>Temp (mn)</strong></td>
      <td><strong>Kcal dépensées</strong></td>
    </tr>
    <tr *ngFor="let data of this.cardio_datas; let idx = index">
      <td>{{ data.cardio_date | date: "dd/MM/yyyy" }}</td>
      <td>{{ data.cardio_exercice }}</td>
      <td>{{ data.cardio_temps }}</td>
      <td>{{ data.cardio_kcal }}</td>
    </tr>
  </table>

  <hr style="width: 75%" />
  <mat-card class="card">
    <mat-card-title id="mediumtitle"> Ajouter un entrainement </mat-card-title>
    <mat-card-content>
      <!-- form : begin -->
      <div [formGroup]="this.cardioForm">
        <!-- Date -->
        <mat-form-field appearance="fill">
          <mat-label>Date</mat-label>
          <input matInput required matInput type="date" />
        </mat-form-field>
        <br />
        <!-- Sport -->
        <mat-form-field appearance="fill">
          <mat-label>Discipline</mat-label>
          <select matNativeControl required matInput name="type">
            <option value="marche">Marche</option>
            <option value="velo">Vélo</option>
          </select> </mat-form-field
        ><br />
        <!-- temps entrainement -->
        <mat-form-field appearance="fill">
          <mat-label>Temps écoulé (mn)</mat-label>
          <input name="time" matNativeControl required matInput type="number" />
        </mat-form-field>

        <br />
        <!-- Energie depensée -->
        <mat-form-field appearance="fill" name="kcal">
          <mat-label>Energie dépensée (Kcal)</mat-label>
          <input matNativeControl required matInput type="number" name="kcal" />
        </mat-form-field>
        <br />
        <button
          mat-raised-button
          class="links"
          (click)="submit()"
          type="button"
        >
          Ajouter
        </button>

        <!-- form : end -->
      </div>
    </mat-card-content>
  </mat-card>
</div>
