<div class="content" role="main">
  <div id="bigtitle">Rejoignez-nous !</div>

  <br/><br/>
  <div width = 100% >
      <img
        width="50"
        src="{{cheminIcone_build}}"/>
          Site en construction !
        <img
          width="50"
          src="{{cheminIcone_build}}"/>
  </div>
<br><br>
    <div width = 100%>
      <!-- <div class="col-sm-8 col-sm-offset-2"> -->
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Adresse mail</label>
            <input type="text"
                   id="email"
                   class="form-control"
                   formControlName="email">
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password"
                   id="password"
                   class="form-control"
                   formControlName="password">
          </div>
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="signupForm.invalid">Créer mon compte</button>
          <br><p class="text-danger">{{ errorMessage }}</p>
        </form>

      <!-- </div> -->
    </div>

</div>
