<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<div class="header">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img width="150" src="{{ cheminImageAppli }}" alt="EnjoySport logo" />
  </div>

  <nav class="navbar navbar-fixed-top navbar-expand-md navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home"
            >Home</a
          >
        </li>
        <!-- Cardio -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="cardio"
            >Cardio</a
          >
        </li>

        <!-- Muscu -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="muscu"
            >Musculation</a
          >
        </li>

        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Entrainements
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item nav-link" routerLink="cardio">Cardio</a>
            <a class="dropdown-item nav-link" routerLink="muscu">Musculation</a>
          </div>
        </li> -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Conseils
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item nav-link" routerLink="tips"
              >Calcul d'indicateurs</a
            >
            <a class="dropdown-item nav-link" routerLink="videos"
              >Vidéos/Exercices</a
            >
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="connect">
            Connection / Inscription
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<!-- Content -->

<footer>
  <div class="prefooter" width="100%" le="padding-bottom: 20px">
    <strong>* Sénérité... Dynamisme... Bonheur... Faites du sport!</strong>
  </div>
  <a href="{{ o2sHref }}" target="_blank" rel="noopener">
    <img
      width="25"
      src="{{ cheminIcone_o2s }}"
      title="O2switch"
      alt="O2switch"
    /> </a
  >&nbsp;

  <a href="{{ wpHref }}" target="_blank" rel="noopener">
    <img
      width="25"
      src="{{ cheminIcone_wp }}"
      title="WordPress"
      alt="WordPress"
    /> </a
  >&nbsp;

  <a href="{{ mysqlHref }}" target="_blank" rel="noopener">
    <img
      width="25"
      src="{{ cheminIcone_mysql }}"
      title="MySql"
      alt="MySql"
    /> </a
  >&nbsp;
  <a href="{{ apacheHref }}" target="_blank" rel="noopener">
    <img
      width="25"
      src="{{ cheminIcone_apache }}"
      title="Apache"
      alt="Apache"
    /> </a
  >&nbsp;
  <a href="{{ angularHref }}" target="_blank" rel="noopener">
    <img
      width="25"
      src="{{ cheminIcone_angular }}"
      title="Angular"
      alt="Angular"
    /> </a
  >&nbsp;

  <a href="{{ GhHref }}" target="_blank" rel="noopener">
    <img
      width="25"
      src="{{ cheminIcone_GH }}"
      title="Github"
      alt="Github"
    /> </a
  >&nbsp;

  <a href="{{ JiraHref }}" target="_blank" rel="noopener">
    <img
      width="25"
      src="{{ cheminIcone_JIRA }}"
      title="Jira software"
      alt="Jira software"
    /> </a
  >&nbsp;

  <a href="{{ i8Href }}" target="_blank" rel="noopener">
    <img
      width="25"
      src="{{ cheminIcone_I8 }}"
      title="Icons8"
      alt="Icons8"
    /> </a
  >&nbsp;

  <a href="{{ wmMail }}" target="_blank" rel="noopener">
    <img
      width="25"
      src="{{ cheminIcone_wm }}"
      title="Webmaster"
      alt="Webmaster"
    /> </a
  >&nbsp;

  <a href="{{ wdMail }}" target="_blank" rel="noopener">
    <img
      width="25"
      src="{{ cheminIcone_wd }}"
      title="Webdesigner"
      alt="Webdesigner"
    />
  </a>
</footer>
