<div class="content" role="main">
  <div id="bigtitle">{{ tips_title }}</div>

  <br /><br />
  <div width="100%">
    <img width="25" src="{{ cheminIcone_build }}" />
    Cette Rubrique est en construction...
    <img width="25" src="{{ cheminIcone_build }}" />
  </div>
  <br />

  <div>
    Cette page vous permet de calculer différents indicateur sur l'état de votre
    corps :
    <ul>
      <li>Votre métabolisme de base (MB) en KCAL</li>
      <li>Vore besoin Énergétique Journalier (BEJ) en Kcal</li>
      <li>Vote indice de masse corporelle</li>
    </ul>
  </div>
  <br />
  <!-- <app-tips></app-tips> -->

  <form>
    <table class="blueTable">
      <tr>
        <td><b> Sexe*</b></td>
        <td width="400px">
          <input
            type="radio"
            name="sexe"
            [(ngModel)]="sexe"
            value="0"
            (change)="calculateMB()"
          />
          Homme &nbsp;
          <input
            type="radio"
            name="sexe"
            value="1"
            [(ngModel)]="sexe"
            (change)="calculateMB()"
          />
          Femme
        </td>
      </tr>
      <tr>
        <td><b>Poid* (kg)</b></td>
        <td>
          <input
            type="number"
            name="poids"
            min="0"
            max="200"
            [(ngModel)]="poids"
            (change)="calculateMB()"
          />
        </td>
      </tr>
      <tr>
        <td><b>Taille* (m)</b></td>
        <td>
          <input
            #ctrl_taille
            type="number"
            name="taille"
            min="0"
            max="300"
            step=".1"
            [(ngModel)]="taille"
            (change)="calculateMB()"
          />
        </td>
      </tr>
      <tr>
        <td>
          <b> Age* </b>
        </td>
        <td>
          <input
            type="number"
            name="age"
            min="0"
            max="120"
            [(ngModel)]="age"
            (change)="calculateMB()"
          />
        </td>
      </tr>
      <tr>
        <td>
          <b> Niveau d'activité</b>
        </td>
        <td>
          <input
            type="radio"
            name="NAct"
            [(ngModel)]="NAct"
            value="1.39"
            (change)="calculateBEJ()"
          />
          Sédentaire &nbsp;&nbsp;
          <input
            type="radio"
            name="NAct"
            [(ngModel)]="NAct"
            value="1.59"
            (change)="calculateBEJ()"
          />
          Peu actif &nbsp;&nbsp;
          <input
            type="radio"
            name="NAct"
            [(ngModel)]="NAct"
            value="1.89"
            (change)="calculateBEJ()"
          />
          Actif &nbsp;&nbsp;
          <input
            type="radio"
            name="NAct"
            [(ngModel)]="NAct"
            value="2.5"
            (change)="calculateBEJ()"
          />
          Très actif &nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <td>
          <div id="mediumtitle">
            Métabolisme de base en Kcal (<a href="#">MB</a>)
          </div>
        </td>
        <td>{{ mb }}</td>
      </tr>

      <tr>
        <td>
          <div id="mediumtitle">
            Besoin Énergétique Journalier en Kcal (<a href="#">BEJ</a>)
          </div>
        </td>
        <td>
          {{ bej }}
        </td>
      </tr>
      <tr>
        <td>
          <div id="mediumtitle">
            Indice de Masse corporelle en Kg / m² (<a href="#">IMC</a>)<br />
            <!-- <div>L’OMS définit plusieurs seuils d’alerte :
              <ul>
                <li> en dessous de 18,4 kg/m², on considère que la personne est maigre,</li>
                <li> entre 18,5 et 24,9 kg/m², on considère que la personne a une corpulence "normale",</li>
                  <li> entre 25 et 29,9 kg/m², on considère que la personne est en surpoids,</li>
                    <li> entre 30 à 34,9 kg/m², on considère que la personne est en obésité modérée,</li>
                      <li> entre 35 et 39,9 kg/m², on considère que la personne est en obésité sévère,</li>
                au-dessus de 40 kg/m², on considère que la personne est en obésité morbide.</li>
              </ul>
            </div> -->
          </div>
        </td>
        <td>
          {{ imc }}
        </td>
      </tr>
    </table>
  </form>
</div>
