<div class="content" role="main">
  <div id="bigtitle">{{ tips_title }}</div>

  <br /><br />
  <div width="100%">
    <img width="25" src="{{ cheminIcone_build }}" />
    Cette Rubrique est en construction...
    <img width="25" src="{{ cheminIcone_build }}" />
  </div>
  <br /><br />

  <div id="mediumtitle">Calcul du métabolisme de base (MB) en KCAL</div>
  <ul>
    <li>Sexe</li>
    <li>Poids (kg)</li>
    <li>Taille (cm)</li>
    <li>Age</li>
    <li>
      MB
      <!-- MB = 13,707 * Poids + 492,3 * Taille - 6,673 * Age + 77,607 pour les
      hommes
      <br\> 
      MB = 9,74 * Poids + 172,9*Taille - 4,737 * Age + 667,051 pour les
      femmes -->
    </li>
  </ul>
  <br /><br />

  <div id="mediumtitle">Niveau d'activité (NA)</div>
  <ul>
    <li>sédentaire (1,39)</li>
    <li>peu actif(1,59)</li>
    <li>actif(1,89)</li>
    <li>très actif(2,5)</li>
  </ul>

  <br /><br />

  <div id="mediumtitle">
    Calcule du BESOIN ÉNERGÉTIQUE JOURNALIER (BEJ) en KCAL
  </div>
  <ul>
    <li>= MB * NA</li>
  </ul>

  https://www.coachsportif27.com/post/la-fr%C3%A9quence-cardiaque-id%C3%A9ale-pour-br%C3%BBler-des-graisses
</div>
