<div class="content" role="main">
  <div id="bigtitle">Musculation</div>
  <div id="mediumtitle">
    Suivi
    <mat-slide-toggle color="primary" (click)="switchMode()"></mat-slide-toggle>
  </div>
  <br /><br />

  <hr style="width: 75%" />

  <div [hidden]="isArraymode">
    <canvas
      width="600"
      height="400"
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>

  <mat-form-field [hidden]="!isArraymode">
    <mat-label>Filtre</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Rechercher ... "
      #input
    />
  </mat-form-field>

  <!-- table definition -->
  <table
    mat-table
    [dataSource]="this?.tableDataSource"
    role="presentation"
    [hidden]="!isArraymode"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    <!-- cells definition -->
    <!-- date -->
    <ng-container matColumnDef="Date">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Trier par date"
      >
        Date
      </th>
      <td mat-cell *matCellDef="let element">
        <!-- {{ element.muscu_session_date | date : "dd/MM/yyyy" }} -->
        {{ element.muscu_session_date }}
      </td>
    </ng-container>

    <!-- exercice -->
    <ng-container matColumnDef="Exercice">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Trier par exercice"
      >
        Exercice
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.training_muscu_exercise_name }}
      </td>
    </ng-container>

    <!-- Poids -->
    <ng-container matColumnDef="Poids">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Trier par Poids"
      >
        Poids
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.training_muscu_exercise_nb_poid }}
      </td>
    </ng-container>

    <!-- Repetitions -->
    <ng-container matColumnDef="Répétitions">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Trier par Répétitions"
      >
        Répétitions
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.training_muscu_exercise_nb_repetition }}
      </td>
    </ng-container>

    <!-- Séries  -->
    <ng-container matColumnDef="Séries">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Trier par Séries"
      >
        Séries
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.training_muscu_exercise_nb_serie }}
      </td>
    </ng-container>

    <!-- header definition -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <!-- rows render -->
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        Aucun résultat ne correspond aux termes de recherche spécifiés (<strong
          >"{{ input.value }}"</strong
        >)
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 25, 100]"
    aria-label="Select page of users"
    [hidden]="!isArraymode"
  ></mat-paginator>

  <hr style="width: 75%" />

  <!--TODO : Form definition -->
</div>
