<div class="content" role="main">

  <div id="bigtitle">
    Enjoy Sport, l'application qui vous changera !
  </div>

  <br/>
  <div width = 100% >

    <table>
      <tr>
        <td>
          <img
            width="50"
            src="{{cheminIcone_build}}"/>
        </td>
        <td>
          Site en construction !
        </td>
        <td>
        <img
          width="50"
          src="{{cheminIcone_build}}"/>
        </td>
      </tr>
    </table>

  </div>

  <div width = 100% >

<br/>

<!-- <table border="1" width="60%" border-style="groove"> -->
  <table class="blueTable">
  <tr>
    <td width="125" align="center"><b>To do</b></td>
    <td>
      <ul>
        <li>Gestion de l'inscription / l'authentification / déconnection (Firebase)</li>
        <li>Saisie, enregistrement en bdd et visualisation d'un entrainement</li>
        <li>Mise en place de graphique (onglets cardio et musculation) </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td align="center"><b>In progress</b> &nbsp;&nbsp;<img width="15" src="{{chemin_encours}}"/></td>
    <td>
      <ul>
        <li>CI/CD : Automatisation quotidienne du déploiement (cron)</li>
        <li>Cablage avec la BDD (Firestore) </li>
      </ul>
    </td>
  </tr>
  <tr>

    <td align="center"><b>Done</b>&nbsp;&nbsp; <img width="15" src="{{chemin_check}}"/></td>
    <td>
      <ul>
        <li>CI/CD : Scripting de récupération des sources/build/déploiement</li>
        <li>CI/CD : ajout du control de source (<a href="https://github.com/tanguyBayart/enjoySport" target="_blank">Github</a>)</li>
        <li>CI/CD : 3 minutes, c'est le temps nécessaire au déploiement de l'application</li>
        <li>Appel d'une API depuis l'onglet "Actualités"</li>
        <li>Mise en place du router et cablage avec le menu </li>
        <li>Généralisation du style CSS </li>
        <li>Revue des liens de pied de page </li>
        <li>Automatisation du déploiement </li>
        <li>Travail du style CSS </li>




      </ul>
    </td>
  </tr>
</table>

    </div>

</div>
