<div class="content" role="main">
  <div id="bigtitle">L'application qui vous changera !</div>

  <!-- Animation !  -->
  <div style="padding-top: 20px" class="anim">
    <div class="w-100 d-flex flew-row flex-justify-content-center">
      <ul
        class="anim"
        *ngIf="display"
        @list
        (@list.start)="toggle($event)"
        (@list.done)="toggle($event)"
      >
        <li>Good spirit...</li>
        <li>Healty body...</li>
        <li>Happiness...</li>
        <li><strong>Enjoy Sport !*</strong></li>
      </ul>
    </div>
  </div>
  <!-- Fin de l'animation -->

  <!-- Message d'acceuil -->
  <div
    [innerHTML]="this.sanitizer.bypassSecurityTrustHtml(data_presentation)"
  ></div>

  <br /><br />
  <table class="blueTable">
    <thead>
      <td align="center">
        <span id="mediumtitle">Suivi des évolutions</span>
      </td>
    </thead>
    <tr>
      <td align="center">
        <a
          href="https://enjoysport.atlassian.net/jira/software/projects/ES/boards/1"
          target="_blank"
          >Accéder à Jira</a
        >
        <br />
        <a
          href="https://www.idalko.com/fr/guide-utilisateur-intuitif-pour-jira/"
          target="_blank"
        >
          documentation (creer un utilisateur read only?)
        </a>
      </td>
    </tr>
    <tr>
      <td align="center">
        <strong>Front v.==versionDev==</strong>, déployée le
        <strong>==dateyyyymmddHHmmss==</strong>
        <br />
        <strong>Back v.==versionDevBack==</strong>, déployée le
        <strong>==dateBack==</strong>
      </td>
    </tr>
  </table>

  <br /><br />
</div>
