<div class="content" role="main">
  <div id="bigtitle">{{ tips_title }}</div>

  <div>
    Cette section références quelques videos qui traitent chacune d'un objectif
    précis. <br />
    Cette liste n'est évidemment pas exhaustive...
  </div>
  <br />

  <div id="mediumtitle">Vidéos en français</div>

  <iframe
    width="50%"
    height="75%"
    src="https://www.youtube-nocookie.com/embed/l0l_liJX2Xc"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <!-- <iframe
    width="50%"
    height="50%"
    src="https://www.youtube.com/embed/_Ten9lsUU7s"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe> -->
  <iframe
    width="50%"
    height="50%"
    src="https://www.youtube.com/embed/P22Oy2xjatg"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <div id="mediumtitle">Vidéos en anglais</div>

  <iframe
    width="50%"
    height="50%"
    src="https://www.youtube.com/embed/IuI-e-geeZI"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <iframe
    width="50%"
    height="50%"
    src="https://www.youtube.com/embed/pKoQydKDJJw"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
